[submodule "web/static/novnc"]
	path = web/static/novnc
	url = https://github.com/zjiaksmc/noVNC
	branch = k8s-vdi
[submodule "web/static/websockify"]
	path = web/static/websockify
	url = https://github.com/zjiaksmc/websockify
	branch = k8s-vdi
