[Desktop Entry]
Encoding=UTF-8
Name=VSCode
Exec=/usr/bin/firefox http://vscode.dii.hhs.info:8081
Type=Application
Terminal=false
Icon=/etc/app-icons/vscode_desktop.png
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;